@mixin overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 41.4px;
  letter-spacing: 0.36px;
}

@mixin text_normal {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.4px;
  letter-spacing: 0.16px;
}

@mixin text_small {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.1px;
  letter-spacing: 0.14px;
}

@mixin text_mini {
  font-size: 12px;
  font-weight: 500;
  line-height: 13.8px;
  letter-spacing: 0.12px;
}